<div class="passenger">
    <form class="iinForm__js"
        name="vm.iinForm"
        form-submit-error-highlight
        novalidate>
        <table class="passengersInfo">
            <tbody>
                <tr>
                    <td class="pax-name">
                        <div class="passenger__link__i">
                            <div class="passenger__link__i__name">
                                <strong>
                                    {{ vm.passenger.lastName }} {{ vm.passenger.firstName }}
                                </strong>
                            </div>
                        </div>
                    </td>
                    <td class="iin-label">
                        <label>
                            {{ 'web.extraServices.insurance.iin' | aliasDynamic }}
                        </label>
                    </td>
                    <td class="iin-input">
                        <div class="inp">
                            <error-message
                                control="vm.iinForm.test"
                                touched="vm.submitTouched">
                            </error-message>
                            <input type="text"
                                name="test"
                                ng-model="vm.editableValue"
                                ng-disabled="( vm.editableValue && vm.editableValue == vm.passenger.documentNumberDiscount )"
                                required
                                iincheck="vm.passenger"
                                class="textInp"
                                ng-class="{ disabled: ( vm.editableValue && vm.editableValue == vm.passenger.documentNumberDiscount ) }"
                                error-highlight="{{vm.submitTouched}}"/>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
