
<app-loader ng-if="vm.loading"></app-loader>

<div ng-if="!vm.insuranceAvailable && !vm.hasOtherServices" class="emptyServices">
    {{ 'web.extraServices.emptyServices' | aliasStatic}}
    <br/><br/><br/>
</div>

<div ng-if="vm.insuranceAvailable" class="item__i mobile">

    <div class="mobileHide">
        <div class="top">
            <div class="top__i">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div class="text">
                                    <div class="iconBox" ng-click="vm.switchService()">
                                        <i class="icon_umbrella"></i>
                                    </div>
                                    <div class="name">
                                        <h2>
                                            {{ 'web.extraServices.insurance.header' | aliasStatic}}
                                            <a href fancybox="popupAlias" data-popup-alias="web.extraServicesRules.insurance">
                                                <span class="infoBoxWrap">
                                                    <i class="icon_info"></i>
                                                    <span class="infoBox">
                                                        <span class="infoBox__i">
                                                            {{ 'web.extraServices.serviceDesc' | aliasStatic}}
                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </h2>
                                        <p>
                                            {{ 'web.extraServices.insurance.desc' | aliasStatic}}
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div ng-if="vm.service.active && vm.service.editablePrice" class="price">
                                    <div class="price__i">
                                        <h3 ng-bind-html="{ value: vm.service.editablePrice.price, currency: vm.service.editablePrice.currency } | price"></h3>
                                    </div>
                                </div>
                                <div ng-if="!vm.service.active" class="price">
                                    <div class="price__i">
                                        <p>
                                            {{ 'web.extraServices.minPrice' | aliasStatic}}
                                        </p>
                                        <h3 ng-bind-html="{ value: vm.service.fullPrice.price, currency: vm.service.fullPrice.currency } | price"></h3>
                                        <p>
                                            {{ 'web.extraServices.insurance.fullPriceUnit' | aliasStatic}}
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href ng-click="vm.switchService()" ng-class="{ active: vm.service.active, control_disabled: vm.locked }" class="btn showDrop_js ">
                                    <span class="show">
                                        {{ 'web.extraServices.insurance.select' | aliasStatic}}
                                    </span>
                                    <span class="hide">
                                        {{ 'web.extraServices.insurance.deselect' | aliasStatic}}
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="mobileShow">
        <div class="top">
                <div class="top__i">
                    <a href>
                        <div class="row">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><i class="icon_umbrella"></i></td>
                                        <td>
                                            <div class="name">
                                                {{ 'web.extraServices.insurance.header' | aliasStatic}}
                                                <a href fancybox="popupAlias" data-popup-alias="web.extraServicesRules.insurance">
                                                    <i class="icon_info"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </a>
                    <div class="row">
                        <a href>
                            <div class="price">
                                <div class="price__i">
                                    <p>
                                        {{ 'web.extraServices.minPrice' | aliasStatic}}
                                    </p>
                                    <h3 ng-bind-html="{ value: vm.service.fullPrice.price, currency: vm.service.fullPrice.currency } | price"></h3>
                                    <p>
                                        {{ 'web.extraServices.insurance.fullPriceUnit' | aliasStatic}}
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href ng-click="vm.switchService()" ng-class="{ active: vm.service.active }" class="btn showDrop_js ">
                            <span class="show">
                                {{ 'web.extraServices.insurance.select' | aliasStatic}}
                            </span>
                            <span class="hide">
                                {{ 'web.extraServices.insurance.deselect' | aliasStatic}}
                            </span>
                        </a>
                    </div>
                </div>
        </div>
    </div>

    <div class="drop" ng-if="vm.service.items.length > 1" ng-class="{ active: vm.service.active, show_js: vm.service.active }">
        <div class="drop__i">

            <div class="insuranceSelect">
                <div class="insuranceSelect__i">

                    <div class="emptyIinMessage">
                        {{ 'web.extraServices.insurance.emptyIinMessage' | aliasDynamic }}
                    </div>

                    <wrap ng-repeat="(passengerNum, passenger) in vm.orderInfo.passengers"
                        ng-if="passenger.nationalityCode === 'KZ'">

                        <passenger-iin-form 
                            passenger="passenger" 
                            num="passengerNum"
                            save-iin="vm.saveIinHandlers[passengerNum]"
                            on-modify="vm.updateAvailable()">
                        </passenger-iin-form>

                        <table class="insurance-fares">
                            <tr ng-repeat="(insuranceItemNum, insuranceItem) in vm.service.itemsByPassengers[passengerNum]">
                                <td class="insurance-type-cell">
                                    <label ng-if="!insuranceItem.productCode" ng-bind-html=" 'web.insurance.' | aliasWithPrefix:(insuranceItem.ins + '.' + insuranceItem.tins)"></label>
                                    <label ng-if="insuranceItem.productCode" ng-bind-html=" 'web.insuranceOnline.' | aliasWithPrefix:(insuranceItem.ins + '.' + insuranceItem.tins + '.' + insuranceItem.productCode)"></label>
                                </td>
                                <td class="insurance-rules-cell">
                                    <wrap ng-if="!insuranceItem.productCode" ng-bind-html=" 'web.insurance.currentRules.' | aliasWithPrefix:(insuranceItem.ins + '.' + insuranceItem.tins)"></wrap>
                                    <wrap ng-if="insuranceItem.productCode" ng-bind-html=" 'web.insuranceOnline.currentRules.' | aliasWithPrefix:(insuranceItem.ins + '.' + insuranceItem.tins + '.' + insuranceItem.productCode)"></wrap>
                                </td>
                                <td class="price-cell">
                                    <wrap ng-bind-html=" vm.getInsuranceFullPrice(insuranceItem) | price "></wrap>
                                </td>
                                <td class="button-cell">
                                    <a href ng-click="vm.switchServiceItem(insuranceItemNum, passengerNum)" 
                                        ng-class="{ active: insuranceItem.selected }" class="btn btn__ins">
                                        <span ng-if="!insuranceItem.selected">
                                            {{ 'web.extraServices.insurance.add' | aliasDynamic }}
                                        </span>
                                        <span ng-if="insuranceItem.selected">
                                            {{ 'web.extraServices.insurance.remove' | aliasDynamic }}
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>

                    </wrap>


                </div>
            </div>

        </div>
    </div>
</div>

