<div class="list">
  <wrap ng-repeat="(priceVariantNum, priceVariantItem) in vm.priceVariant">
    <div ng-repeat="paymentType in priceVariantItem.paymentTypes" class="item">
      <div class="item__i item__{{ paymentType.code }}"
           ng-class="{ active: (vm.selectedPaymentType == paymentType.code) }"
           ng-if="(priceVariantItem.code != 'plastic_card' || vm.separateCards) && priceVariantItem.code != 'cash' &&
           priceVariantItem.code != 'juridical'">
        <div class="radioBtn">
          <label>
            <input type="radio" name="pay" ng-model="vm.selectedPaymentType"
                   ng-click="vm.selectHandler(priceVariantItem.code);" value="{{ paymentType.code }}"/>
            <span></span>
            <wrap ng-bind-html="'web.payment.paymenttype.' | aliasWithPrefix:(priceVariantItem.code + '.' + paymentType.code)"></wrap>
            <wrap class="price-label" ng-if="priceVariantItem.price && priceVariantItem.currency">
              &nbsp;—&nbsp;
              <wrap ng-bind-html="{ value: priceVariantItem.price, currency: priceVariantItem.currency } | price">
              </wrap>
            </wrap>
          </label>
        </div>
        <div class="text"
             ng-if="vm.hasAlias('web.paymentTypeSelect.descMessage.' + priceVariantItem.code + '.' + paymentType.code)">
          <div class="text__i"
               ng-bind-html=" 'web.paymentTypeSelect.descMessage.' | aliasWithPrefix:(priceVariantItem.code + '.' + paymentType.code) "></div>
        </div>
      </div>

      <div class="item__i item__{{ priceVariantItem.code }}"
           ng-class="{ active: (vm.selectedPaymentType == priceVariantItem.code) }"
           ng-if="(priceVariantItem.code == 'plastic_card' && !vm.separateCards) || priceVariantItem.code == 'cash' ||
           priceVariantItem.code == 'juridical'">
        <div class="radioBtn" ng-if="priceVariantItem.code !== 'plastic_card'">
          <label>
            <input type="radio" name="pay" ng-model="vm.selectedPaymentType"
                   ng-click="vm.selectHandler(priceVariantItem.code);" value="{{ priceVariantItem.code }}"/>
            <span></span>

            <div class="payment-price-title">
              <wrap ng-bind-html="'web.payment.paymenttype.' | aliasWithPrefix:priceVariantItem.code"></wrap>
              <wrap class="price-label" ng-if="priceVariantItem.price && priceVariantItem.currency">
                &nbsp;—&nbsp;
                <wrap ng-bind-html="{ value: priceVariantItem.price, currency: priceVariantItem.currency } | price">
                </wrap>
              </wrap>
            </div>
          </label>
        </div>

        <div class="radioBtn all-plastic-card" ng-if="priceVariantItem.code == 'plastic_card'"
             ng-click="vm.selectHandler(priceVariantItem.code);">
          <label>
            <input type="radio" name="pay"
                   ng-click="vm.cardSelectHandler({card: null, state: 'new'});"
                   ng-checked="!vm.selectedPaymentType || vm.selectedPaymentType === 'plastic_card'"
                   value="{{ priceVariantItem.code }}" />
            <span></span>

            <div class="pay-with-plastic-card">
              <div class="payment-price-title">
                <wrap ng-bind-html="'web.payment.paymenttype.' | aliasWithPrefix:priceVariantItem.code"></wrap>
                <wrap class="price-label" ng-if="priceVariantItem.price && priceVariantItem.currency">
                  &nbsp;—&nbsp;
                  <wrap ng-bind-html="{ value: priceVariantItem.price, currency: priceVariantItem.currency } | price">
                  </wrap>
                </wrap>
              </div>

              <div class="customCheckbox" ng-if="('site.saveCards' | param) && vm.saveCardDataEnable &&
              vm.sessionParamsAuthoriseCustomer !== false">
                <label>
                  <input type="checkbox" ng-model="vm.saveCardData" />
                  <span></span>

                  {{'web.paymentCards.saveData' | aliasStatic}}
                </label>
              </div>
            </div>

            <div class="systems">
              <ul>
                <li class="visa">
                  <img src="./themes/websky/assets/static/img/content/visa.svg" alt=""/>
                </li>
                <li class="mc">
                  <img src="./themes/websky/assets/static/img/content/mc.svg" alt=""/>
                </li>
                <li class="ae">
                  <img src="./themes/websky/assets/static/img/content/ae.svg" alt=""/>
                </li>
                <li class="visaelectron">
                  <img src="./themes/websky/assets/static/img/content/visaelectron.svg" alt=""/>
                </li>
                <li class="maestro">
                  <img src="./themes/websky/assets/static/img/content/maestro.svg" alt=""/>
                </li>
                <li class="mir">
                  <img src="./themes/websky/assets/static/img/content/mir.svg" alt=""/>
                </li>
                <li class="unionpay">
                  <img src="./themes/websky/assets/static/img/content/unionpay.svg" alt=""/>
                </li>
              </ul>
            </div>

            <div class="payment-type-select-user-cards-list" ng-if="vm.cards.length > 0">
              <div class="payment-type-select-user-card-wrapper" ng-repeat="cardCur in vm.cards"
                   ng-if="cardCur.expired === false">
                <div class="radioBtn">
                  <label>
                    <input type="radio" name="pay"
                           ng-click="vm.cardSelectHandler({card: cardCur, state: 'exist'}); $event.stopPropagation();"
                           value="{{ priceVariantItem.code }}" />
                    <span></span>

                    <payment-card class="payment-card-wrapper" payment-system="{{cardCur.ipsType}}"
                                  expired="cardCur.expired" card-number="{{cardCur.number}}"
                                  valid-through="{{cardCur.validThrough}}">
                    </payment-card>
                  </label>
                </div>
              </div>
            </div>
          </label>
        </div>

        <div class="text" ng-if="vm.hasAlias('web.paymentTypeSelect.descMessage.' + priceVariantItem.code)">
          <div class="text__i"
               ng-bind-html=" 'web.paymentTypeSelect.descMessage.' | aliasWithPrefix:priceVariantItem.code ">
          </div>
        </div>
      </div>
    </div>
  </wrap>
</div>
